.main-block{
  color: white;
  min-height: 100vh;
  height: 100%;
  input{
    max-width: 400px;
  }
  h3{
    text-align: center;
  }
  .card{
    color: #292b2c;
    max-width: 570px;
    min-width: 100%;
  }
  .server{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.login{
  height: 100vh;
}